body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }

  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Add bubble font styles */
  .bubble-font {
    font-size: 16px;
    padding: 10px;
    background-color: #fff5e6;
    color: #000;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  header {
    background-color: #f2e9fc;
    padding: 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav li {
    margin-right: 20px;
  }

  nav a {
    text-decoration: none;
    color: #333;
  }

  /* Styles for the hero section */
  #hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
  }

  .hero-content h2 {
    font-size: 2rem;
    margin-top: -1rem;

  }

  .hero-image img {
    max-width: 400px;
    opacity: 0.5;
    border: 5px solid #7c7c7c

  }

  /* Styles for the call-to-action buttons */
  .cta-buttons .btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px; /* Adjust the border radius to make the buttons rounder */
    margin-right: 10px;
    margin-bottom: 1rem;
  }

  /* Additional styling for the buttons */
  .btn-sign-in {
    background-color: #007bff; /* Blue color for Sign In button */
  }

  .btn-register {
    background-color: #28a745; /* Green color for Register button */
  }


  /* Additional styling for the buttons */
  .btn-sign-in {
    background-color: #007bff; /* Blue color for Sign In button */
  }

  .btn-register {
    background-color: #28a745; /* Green color for Register button */
  }


  /* Additional styling for other sections and footer can be added as needed */

  /* Mobile responsiveness styles */
  @media screen and (max-width: 768px) {
    header {
      padding: 1rem 0.5rem;
    }

    .logo-container img {
      width: 30px;
      height: 30px;
    }

    nav {
      display: none; /* Hide navigation menu on small screens */
    }

    /* Add a mobile menu icon and show/hide the navigation menu when clicked */
    .menu-icon {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("menu_icon.png");
      background-size: cover;
    }

    /* Additional mobile responsiveness styles can be added as needed */
  }

